dist: trusty

language: node_js

node_js:
  - "8"
  - "10"

env:
  - CHROME_BIN="/usr/bin/google-chrome-beta"

sudo: required

before_install:
  - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
  - sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
  - (sudo apt-get update && sudo apt-get install -y google-chrome-beta) &
  - (npm i -g @angular/cli) &
  - (npm install) &
  - wait
  - which google-chrome-beta
  - ng --version

install:
  - echo 'dummy install to prevent yarn'

script:
  - (yarn run build) &
  - "ng test --single-run --browsers Chrome_headless"
  - wait
  - ls -al dist
