@import '../node_modules/@angular/material/theming';
@include mat-core();
$tc-app-primary: mat-palette($mat-light-blue);
$tc-app-accent:  mat-palette($mat-orange);
$tc-app-warn:    mat-palette($mat-deep-orange);
$tc-app-theme: mat-light-theme($tc-app-primary, $tc-app-accent, $tc-app-warn);

@include angular-material-theme($tc-app-theme);
